/* You can add global styles to this file, and also import other style files */
$font_UI: "Source Sans 3", "Helvetica Neue", sans-serif;
$color_background: #81A3BF;
$color_indian_red: #A35353;
$color_snow_white: #C5C9C7;
$color_dim_gray: #666666;


html, body {
  height: 100%;
  background-color: $color_background;
}

body {
  margin: 0;
  font-family: $font_UI;
}

h1 {
  font-family: $font_UI;
  color: $color_indian_red;
}

input {
  border-radius: 0;
  border: 0;
  font-family: $font_UI;
}

input:focus {
  outline: none;
}

input[type='checkbox']:checked {
  background-color: $color_indian_red;
}

input[type='checkbox']:checked:after {
  content: '';
}

input[type='checkbox']{
  vertical-align: middle;
  width: 16px !important;
  height: 16px !important;
  appearance:none;
  border-radius: 0;
  border: 1px solid $color_indian_red;
  box-shadow: none;
  flex-shrink: 0
}

p {
  font-family: $font_UI;
  margin: 0;
}

select {
  align-items: center;
  text-align: center;
  outline: none;
  border: 1vmax $color_indian_red;
  background-color: $color_snow_white;
  font-family: $font_UI;
  font-weight: bolder;
  color: $color_indian_red;
  width: 10vw;
}

// CLASSES
.invalid-input{
  outline: 0.2vw solid red;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

// class --> button
.button-actions-general {
  font-family: $font_UI;
  font-weight: bold;
  font-size: large;
  background-color: $color_snow_white;
  color: $color_indian_red;
  box-shadow: 0.2vmax 0.2vmax $color_dim_gray;
  transition: box-shadow 0.1s ease;
  padding: 0.2vmax 0.2vmax;
}

.button-actions-general:active {
  transform: translate(0.2vmax, 0.2vmax);
  box-shadow: none;
  border: none;
  outline: 0.1vw solid black;
}

.button-actions-specific {
  font-family: $font_UI;
  font-weight: bold;
  background-color: $color_snow_white;
  color: $color_indian_red;
}

.button-actions-specific:active {
  box-shadow: none;
  outline: 0.1vw solid black;
}

// class --> container
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 2vw 5vw;
  background-color: $color_snow_white;
  outline: 0.1vw solid $color_dim_gray;
  box-shadow: 1vw 1vw $color_dim_gray;
}

.container-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.container-form {
  display: flex;
  flex-direction: column;
  margin: 2vmax 10vmax;
  align-items: center;
  align-content: center;
  justify-content: center;
}

// class --> sub-form
.sub-form {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  outline: 0.1vmax solid $color_indian_red;
  margin-bottom: 1vmax;
  //margin-top: 0.5vmax;
}

.sub-form-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5vmax;
  align-content: center;
  padding: 1vmax;
}

.sub-form:hover .sub-form-label {
  background-color: $color_indian_red;
  color: $color_snow_white;
}

.sub-form-input-text,
.sub-form-input-rating,
.sub-form-text,{
  width: 100%;
}

.sub-form-label {
  color: $color_indian_red;
  font-weight: bold;
  width: 100%;
  padding: 0.4vmax
}

.sub-form-rating {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  gap: 0.1vmax;
  flex: 1;
}

.sub-form-rating > .sub-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  min-width: 55vmax;
  max-width: 65vmax;
  gap: 1vmax;
  font-family: $font_UI;
}

.sub-form-rating > .sub-form > .sub-form-text {
  text-align: center;
}



