/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: #81A3BF;
}

body {
  margin: 0;
  font-family: "Source Sans 3", "Helvetica Neue", sans-serif;
}
