/* You can add global styles to this file, and also import other style files */
@use 'ngx-toastr/toastr';

$font_UI: "Source Sans 3", "Helvetica Neue", sans-serif;
$color_background: #81A3BF;
$color_indian_red: #A35353;
$color_snow_white: #C5C9C7;
$color_dim_gray: #666666;
$color_bridal_heath: #F3F9FE;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin input-focus {
  &:focus {
    outline: none;
  }
}

@mixin button-base {
  font-family: $font_UI;
  font-weight: bold;
  background-color: $color_snow_white;
  color: $color_indian_red;
}

@mixin button-active {
  &:active {
    box-shadow: none;
    outline: 0.1vw solid black;
  }
}

@mixin container-base {
  @include flex-column;
  align-items: center;
  background-color: $color_snow_white;
  outline: 0.1vw solid $color_dim_gray;
}

@mixin sub-form-base {
  display: flex;
  align-items: center;
  width: 100%;
  outline: 0.1vmax solid $color_indian_red;
}

@mixin sub-form-input {
  width: 100%;
  background-color: $color_bridal_heath;
  &:focus {
    outline: 0.1vmax dashed #666666;
  }
}

html, body {
  height: 100%;
  background-color: $color_background;
}

body {
  margin: 0;
  font-family: $font_UI;
}

h1 {
  font-family: $font_UI;
  color: $color_indian_red;
}

input {
  border-radius: 0;
  border: 0;
  font-family: $font_UI;
}

input:focus {
  outline: none;
}

input[type='checkbox']:checked {
  background-color: $color_indian_red;
}

input[type='checkbox']:checked:after {
  content: '';
}

input[type='checkbox'] {
  vertical-align: middle;
  width: 16px !important;
  height: 16px !important;
  appearance: none;
  border-radius: 0;
  border: 1px solid $color_indian_red;
  box-shadow: none;
  flex-shrink: 0
}

p {
  font-family: $font_UI;
  margin: 0;
}

select {
  align-items: center;
  text-align: center;
  outline: none;
  border: 1vmax $color_indian_red;
  background-color: $color_snow_white;
  font-family: $font_UI;
  font-weight: bolder;
  color: $color_indian_red;
}

// CLASSES
.invalid-input {
  outline: 0.2vw solid red;
}

.table-header {
  @include flex-center;
  justify-content: space-around;
}

// class --> button
.button-actions-general {
  @include button-base;
  font-size: large;
  box-shadow: 0.2vmax 0.2vmax $color_dim_gray;
  transition: box-shadow 0.1s ease;
  padding: 0.2vmax 0.2vmax;

  @include button-active;

  &:active {
    transform: translate(0.2vmax, 0.2vmax);
    border: none;
  }
}

.button-actions-specific {
  @include button-base;
  @include button-active;
}

.button-actions-specific:active {
  box-shadow: none;
  outline: 0.1vw solid black;
}

// class --> container
.container {
  @include container-base;
  justify-content: center;
  margin: 2vw 5vw;
  box-shadow: 1vw 1vw $color_dim_gray;
}

.container-title {
  @include flex-column;
  @include flex-center;
  width: 100%;
}

.container-form {
  @include flex-column;
  @include flex-center;
  margin: 0 10vmax;;
}

.container-actions {
  margin-top: 0.5vmax;
  margin-bottom: 0.5vmax;
  width: 100%;

  .sub-form-input-text {
    background-color: rgba(0, 255, 125, 0.1);
    outline: 1px dashed #666666;
  }
}

// class --> sub-form
.sub-form {
  @include sub-form-base;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0.5vmax;
  gap: 0.1vmax;

  .sub-form-text {
    padding: 0 0.1vmax;
    margin-top: 0.2vmax;
    margin-bottom: 0.2vmax;
  }
}

.sub-form-buttons {
  @include flex-center;
  width: 100%;
  gap: 5vmax;
  padding: 1vmax 0;
}

.sub-form:hover .sub-form-label {
  background-color: $color_indian_red;
  color: $color_snow_white;
}

.sub-form-input-text,
.sub-form-input-rating,
.sub-form-text {
  @include sub-form-input;
}

.sub-form-input-text:focus,
.sub-form-input-rating:focus,
.sub-form-text:focus {
  outline: 0.1vmax dashed #666666;
}

.sub-form-label {
  color: $color_indian_red;
  font-weight: bold;
  width: 100%;
  padding: 0.4vmax 0.4vmax;
}

.sub-form-rating {
  @include flex-column;
  justify-content: center;

  .sub-form {
    @include sub-form-base;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: $font_UI;

    .sub-form-label {
      width: 50%;
    }

    .sub-form-text {
      width: 10vmax;
      text-align: center;
    }

    .sub-form-input-rating {
      width: 10vmax;
    }
  }
}

// class --> checkbox
.checkbox-main-container {
  width: 300%;
  display: flex;
  flex-direction: column;

  .sub-form-input-text {
    width: 50%;
    margin: 0 25%;
  }
}

.checkbox-sub-container {
  @include flex-wrap;
  flex: 1 0 80%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.checkbox-item {
  @include flex-center;
  justify-content: flex-start;
  width: 15vw;
  margin-right: 10px;
  margin-top: 0.1vw;
}

// @media
@media (max-width: 600px) {
  .sub-form {
    flex-direction: column;
  }

  .sub-form-label {
    color: $color_indian_red;
    font-weight: bold;
  }

  .sub-form-rating {
    width: 100%;

    .sub-form {
      flex-direction: column;
      width: 100%;

      .sub-form-label {
        width: 100%;
      }

      .sub-form-text {
        width: 100%;
        text-align: center;
      }

      .sub-form-input-rating {
        text-align: center;
        width: 100%
      }
    }
  }

  .checkbox-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-small;

    input {
      width: 100%;
    }
  }

  .checkbox-sub-container {
    font-size: x-small;
  }

}
