<div class="container">
  <div class="container-title">
    <h1>Movies</h1>
  </div>

  <div id="container-actions">
    <input id="search-bar" class="sub-form-input-text" type="text" placeholder="Search movies..." (input)="onSearchChange($event)">
    <button class="button-actions-general" routerLink="/movies/new">Add Movie</button>
  </div>

  <div id="container-movies">
    <table>
      <thead>
      <tr>
        <th class="th-releaseDate">
          <div class="table-header">
            <p>RELEASE DATE</p>
            <button class="button-actions-specific" (click)="sortMovies('releaseDate')">⇅</button>
          </div>
        </th>
        <th class="th-movie">
          <div class="table-header">
            <p>TITLE</p>
            <button class="button-actions-specific" (click)="sortMovies('title')">⇅</button>
          </div>
        </th>
        <th class="th-directors"> <div class="table-header"> <p>DIRECTORS</p> </div> </th>
        <th class="th-screenplay"> <div class="table-header"> <p>📜</p> </div>  </th>
        <th class="th-acting"> <div class="table-header"> <p>🎭</p> </div>  </th>
        <th class="th-photography"> <div class="table-header"> <p>📸</p> </div> </th>
        <th class="th-entertainment"> <div class="table-header"> <p>🎉</p> </div> </th>
        <th class="th-recommended"> <div class="table-header"> <p>👍</p> </div> </th>
        <th class="th-average"> <div class="table-header"> <p>⭐</p> </div> </th>
        <th class="th-details">  </th>
      </tr>
      </thead>
      <tbody>
        @for (movie of filteredMovies; track movie) {
          <tr>
            <td class="th-releaseDate"> <label>{{ movie.releaseDate }}</label> </td>
            <td class="th-movie"> <label>{{ movie.title }}</label> </td>
            <td class="th-directors"> <label>{{ formatArray(movie.directedBy) }}</label> </td>
            <td class="th-screenplay"> <label>{{ formatRating(movie.personalRating.screenplay) }}</label> </td>
            <td class="th-acting"> <label>{{ formatRating(movie.personalRating.acting) }}</label> </td>
            <td class="th-photography"> <label>{{ formatRating(movie.personalRating.photography) }}</label> </td>
            <td class="th-entertainment"> <label>{{ formatRating(movie.personalRating.entertainment) }}</label> </td>
            <td class="th-recommended"> <label>{{ formatRating(movie.personalRating.recommended) }}</label> </td>
            <td class="th-average"> <label>{{ formatRating(calculateAverageRating(movie)) }}</label> </td>
            <td class="th-details">
              <a [routerLink]="['/movies', movie.id]"
                 (mouseenter)="onMouseEnter(movie.id)"
                 (mouseleave)="onMouseLeave()"
                 [class.animated]="animatingMovieId === movie.id">
                <label>{{ hoveredMovieId === movie.id ? '👀' : '👁️' }}</label>
              </a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

