#new-movie{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 2vw 5vw;
  background-color: #C5C9C7;
  outline: 0.1vw solid #666666;
  box-shadow: 1vw 1vw #666666;
}

#form{
  display: flex;
  flex-direction: column;
  margin: 2vw 10vw;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#form div {
  display: flex;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0.1vw;
}

.checkbox-container{
  display: flex;
  flex: 1 0 70%;
  align-items: center;
  outline: 1px solid black;
  flex-direction: row;
  flex-wrap: wrap;
}

.checkbox-item {
  //outline: 0.1vw green solid;
  margin-right: 10px;
  width: 15vw;
}

.field-label {
  color: purple;
  width: 100%;
  outline: 1px solid red;
}

