.checkbox-container {
  display: flex;
  flex: 1 0 80%;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.checkbox-item {
  margin-right: 10px;
  margin-top: 0.1vw;
  width: 15vw;
  align-items: center;
  align-content: center;
  display: flex;
}

.sub-form-rating > .sub-form > select {
  width: 10vmax;
}

button {
  margin-top: 1vw;
}
