.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 2vw 5vw;
  background-color: #C5C9C7;
  outline: 0.1vw solid #666666;
  box-shadow: 1vw 1vw #666666;
}

.container-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.container-form {
  display: flex;
  flex-direction: column;
  margin: 2vw 10vw;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.container-form div {
  display: flex;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0.4vw;
}

.checkbox-container {
  display: flex;
  flex: 1 0 80%;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.checkbox-item {
  margin-right: 10px;
  margin-top: 0.1vw;
  width: 15vw;
  align-items: center;
  align-content: center;
  display: flex;
}

.sub-form {
  border: 0.1vw solid #A35353;
  margin-bottom: 0.1vw;
  margin-top: 0.1vw;
}

.sub-form-label {
  color: #A35353;
  font-weight: bold;
  width: 100%;
}

.sub-form:hover .sub-form-label {
  background-color: #A35353;
  color: #C5C9C7;
}

.sub-form-input-text,
.sub-form-input-rating {
  width: 100%;
}

.sub-form-rating {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  gap: 0.1vmax;
  flex: 1;
}

.sub-form-rating > .sub-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  min-width: 35vmax;
  max-width: 55vw;
  gap: 1vw;
  font-family: "Source Sans 3", sans-serif;
}

.sub-form-rating > .sub-form > select {
  width: 10vmax;
}

button {
  margin-top: 1vw;
}
