<div id="container">

  <div id="container-title">
    <h1>{{ movie.title }}</h1>
  </div>

  <p><strong>Title (EN):</strong> {{ movie.titleEN }}</p>
  <p><strong>Title (ES):</strong> {{ movie.titleES }}</p>
  <p><strong>Release Date:</strong> {{ movie.releaseDate }}</p>
  <p><strong>Directors:</strong> {{ movie.directedBy }}</p>
  <p><strong>Screenwriters:</strong> {{ movie.screenplayBy }}</p>
  <p><strong>Producers:</strong> {{ movie.producedBy }}</p>
  <p><strong>Starring:</strong> {{ movie.starring }}</p>
  <p><strong>Cinematography:</strong> {{ movie.cinematography }}</p>
  <p><strong>Edited By:</strong> {{ movie.editedBy }}</p>
  <p><strong>Music By:</strong> {{ movie.musicBy }}</p>
  <p><strong>Production Company:</strong> {{ movie.productionCompany }}</p>
  <p><strong>Genres:</strong> {{ movie.genres.join(', ') }}</p>
  <p><strong>Subgenres:</strong> {{ movie.subgenres.join(', ') }}</p>
  <p><strong>Running Time:</strong> {{ movie.runningTime }} minutes</p>
  <p><strong>Countries:</strong> {{ movie.countries.join(', ') }}</p>
  <p><strong>Languages:</strong> {{ movie.languages.join(', ') }}</p>
  <p><strong>Screenplay Rating:</strong> {{ movie.personalRating.screenplay }}</p>
  <p><strong>Acting Rating:</strong> {{ movie.personalRating.acting }}</p>
  <p><strong>Photography Rating:</strong> {{ movie.personalRating.photography }}</p>
  <p><strong>Entertainment Rating:</strong> {{ movie.personalRating.entertainment }}</p>
  <p><strong>Recommended Rating:</strong> {{ movie.personalRating.recommended }}</p>
  <button routerLink="/movies/edit/{{ movie.id }}">Edit</button>
  <button (click)="deleteMovie()">Delete</button>
</div>
